h3 {
    color: white;
    text-shadow: 1px 1px 10px white;
}
.main {
    padding: 14px 16px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.leader {
    float: left;
    padding: 14px 16px;
    background-color: #363636;
    width: 12%;
    position: fixed;
    overflow: hidden;
    border-color: black;
    border-style: solid;
    box-shadow: 1px 1px 10px black;
}
.leader h3 {
    background-color: black;
    border-color: black;
    border-style: solid;
    padding: 14px 16px;
    box-shadow: 1px 1px 10px black;
}
.leader button {
    color: white;
    text-shadow: 1px 1px 10px white;
    text-decoration: none;
    font-size: 22px;
    float: left;
    width: 100%;
    background-color: black;
    border-color: black;
    border-style: solid;
    box-shadow: 1px 1px 10px black;
    font-size: 16px;
    padding: 10px;
}